<h3>Edit Your Itineraries</h3>

<form method="POST" action="/itineraries/<%= itinerary.id">
  <input type="hidden" name="_method" value="PATCH" id="hidden">
  <label for="destinations">Destinations</label>
  <input type="text" name="destinations" id="destinations"><br>

  <label for="travel_guide">Travel Guide</label>
  <input type="text" name="travel_guide" id="travel_guide"><br>

  <label for="schedule">Schedule</label>
  <input type="text" name="schedule" id="schedule"><br>

  <input type="submit" value="Edit Itinerary">
</form>
