<h2>Edit Your Itineraries</h2>

<form method="POST" action="/itineraries/<%=@itinerary.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <i class='fas fa-suitcase' style='font-size:24px'></i><br>
  <p><label for="destinations">Destinations</label><br>
  <input type="text" name="destinations" id="destinations" class="itinerary-box" value="<%= @itinerary.destinations %>"><br>
  </p><br>

  <i class='fas fa-map-marked' style='font-size:24px'></i>
  <p><label for="travel_guide">Travel Guide</label><br>
  <input type="text" name="travel_guide" id="travel_guide" class="itinerary-box" value="<%= @itinerary.travel_guide %>"><br>
  </p><br>

  <i class='fas fa-calendar-alt' style='font-size:24px'></i>
  <p><label for="schedule">Schedule</label><br>
  <input type="text" name="schedule" id="schedule" class="itinerary-box" value="<%= @itinerary.schedule %>"><br>
  </p><br>

  <input type="submit" value="Update Itinerary">
</form>
