<h3>Here are all the Itineraries on the Itinerary Hub</h3>
<% @itineraries.each do |itinerary| %>
  <h4><a href="/itineraries/<%= itinerary.id %>"><%=itinerary.destinations%></a></h4>
  <p>Travel Guide: <%= itinerary.travel_guide %><p>
  <p>Schedule: <%= itinerary.schedule %></p>
<% end %>
