/* Links */

a {
  color: #2c6b46;
  text-decoration: none;
}

.account a {
  padding: 10px;
}

/* Navigation */
nav {
  float: right;
  margin-top: -50px;
  margin-right: 60px;
}

nav a {
  color: #f5f5f5;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

nav i {
  color: black;
}

nav:hover a {
  opacity: 0.5;
}

nav a:hover {
  opacity: 1;
}

.title a {
  color: #f5f5f5;
  margin-left: 40px;
  font-size: 40px;
}

/* Heading and Home Image */
.header {
  background-color: #235437;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  position: fixed;
}

.container {
  margin-left: 10px;
  max-width: 530px;
}

.description {
  max-width: 530px;
}

.description img {
  max-width: 530px;
}

/* Text and Input */

body {
  background: #212121;
  color: #f8f8f8;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.wrapper {
  font-size: 24px;
  margin-top: 20px;
  margin-left: 20px;
}

.content {
  margin-top: 100px;
  margin-left: 20px;
}

.itinerary-box {
  width: 180px;
  margin-top: 10px;
  height: 28px;
}

input[type=submit] {
  background: #264E36;
  color: #f5f5f5;
  border-style: outset;
  border-color: #264E36;
  border-radius: 4px;
  font-size: 14px;
  height: 36px;
  width: 120px;
}

.trips {
  color: #8a8a8a;
  font-size: 14px;
}

.login input[type="text"], input[type="password"] {
  margin-top: 10px;
  height: 28px;
  font-size: 14px;
  width: 200px;
}

.create-user input[type="text"], input[type="email"], input[type="password"] {
  margin-top: 10px;
  height: 28px;
  font-size: 14px;
  width: 200px;
}

.images {
  float: right;
  margin-right: 50px;
}

.images img {
  max-width: 450px;
  border: 4px solid white;
}

.users {
  border: 2px solid #f8f8f8;
}
