a {
  color: #4d8e96;
  text-decoration: none;
}

.container {
  margin-left: 10px;
  max-width: 500px;
}

.description {
  max-width: 500px;
}

.description img {
  max-width: 500px;
}

.account a {
  padding: 10px;
}

.itinerary-list {
  column-count: 3;
}

body {
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
}

.itinerary-box {
  width: 180px;
}
