<div class="create-user">
<h2>Join The Itinerary Hub</h2>
  <form method="POST" action="/signup">
    <p>Username<br><input type="text" name="username"></p>
    <p>Email<br><input type="email" name="email"></p>
    <p>Password<br><input type="password" name="password"></p>
    <input type="submit" value="Create Account">
  </form>
</div>
