<h2>Login to view your itineraries</h2>
<form method="POST" action="/login">
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="submit" value="submit">
</form>
 <h3>If you want to start building an itinerary, please <a href="/create_user">sign up</a></h3>
