<div class="login">
<h2>Login</h2>
  <form method="POST" action="/login">
    <p>Username<br><input type="text" name="username"><br></p>
    <p>Password<br><input type="password" name="password"><br></p>
    <input type="submit" value="Sign In">
  </form>
 <p>Don't have an account? Please <a href="/signup">sign up</a></p>
</div>
