<h4>Take a look at <%= @user.username %>'s itineraries</h4>
  <% @user.itineraries.each do |itinerary| %>
  <p><a href="/itineraries/<%=itinerary.id%>"><%= itinerary.destinations%></a></p>
<% end %>

<% if @current_user.id == @user.id %>

<form action="/users/<%=@user.slug%>/edit" method="GET">
  <input type="submit" value="Change Username">
</form>

<% end %>
