<div class="container">
  <p>The adventure starts here. Create an Itinerary and you will have all of your travel plans organized in one place.</p>
</div>
<h3>
<a href="/signup">Sign Up</a><br><br>

<a href="/login">Log In</a>
</h3>
